.attribution {
	padding: 5px;
	font-size: 11px;
	text-align: center;
	color: white;
}

.attribution a {
	text-decoration: none;
	color: var(--blue-text-dark);
}

.light .attribution {
	color: black;
}

.light .attribution a {
	color: var(--blue-text-light);
}
